In [1]:
import pandas as pd
import numpy as np
import psycopg2
import time
import datetime
import sys

print("Execution start")
# database credentials
database1 = "opsfeaturizer"
database2 = "alchemy"
db_user = "slickdeal_dev_user"
db_password = "UfHK3bnMy78siAie"
db_host = "127.0.0.1"
db_port = "5439"

Execution start

In [2]:
conn1 = psycopg2.connect(
    dbname=database1,
    user=db_user,
    password=db_password,
    host=db_host,
    port=db_port
)

conn2 = psycopg2.connect(
    dbname=database2,
    user=db_user,
    password=db_password,
    host=db_host,
    port=db_port
)

In [6]:
user_df = pd.read_sql_query('select id from segment ', con=conn2)
value_df = pd.read_sql_query('select * from segment_attribute_value where segment_attribute_id in (5,6,31,32,33,34,35,40);', con=conn2)
attr_df = pd.read_sql_query('select id, name from segment_attribute where id in (5,6,31,32,33,34,35,40);', con=conn2)

In [10]:
final_df = pd.merge(attr_df, value_df, how='left', left_on='id', right_on='segment_attribute_id')
final_df = pd.pivot_table(final_df, columns=['name'], index=['segment_id'], values=['value'], aggfunc=max).reset_index()
final_df.columns =['_'.join(col).rstrip('_') for col in final_df.columns.values]

In [260]:
_df = df1['value_products_outclicked'].apply(lambda x: json.loads(x))
__df = pd.DataFrame(_df.to_list())
df3 = pd.merge(df1, __df, right_index=True, left_index=True)
df3 = df3.rename(columns={'year':'y', 'month':'m', 'week':'w', 'weekday':'dw'})

In [12]:
final_df.columns

Index(['segment_id', 'value_lifetime_avg_net_total_commission',
       'value_lifetime_avg_transaction_amount',
       'value_lifetime_sum_net_total_commission',
       'value_lifetime_sum_net_transaction_amount',
       'value_lifetime_transactions_frequency'],
      dtype='object')

In [15]:
value_df

,id,segment_id,segment_attribute_id,value,created_time,modified_time
0,-9223372036854775538,4553b5a9-9770-4bd5-b95d-10368b72d166,32,29.70160,2019-09-30 06:36:31,2019-09-30 06:36:31
1,-9223372036854775403,4553b5a9-9770-4bd5-b95d-10368b72d166,33,53165.00000,2019-09-30 06:36:31,2019-09-30 06:36:31
2,-9223372036854775467,c69f83bc-6909-4643-93ee-76a5ef6e3355,35,3.66840,2019-09-30 06:36:31,2019-09-30 06:36:31
3,-9223372036854775474,dd668e71-d004-4d1c-ae11-23a4354ba1ab,34,10139.36100,2019-09-30 06:36:31,2019-09-30 06:36:31
4,-9223372036854775652,eced0299-faf7-41c1-9661-0a41a2c94b39,31,245234.40500,2019-09-30 06:36:31,2019-09-30 06:36:31
5,-9223372036854775514,57c533b9-e11c-4127-a911-d6d0e16c9aa1,32,29.76540,2019-09-30 06:36:31,2019-09-30 06:36:31
6,-9223372036854775379,57c533b9-e11c-4127-a911-d6d0e16c9aa1,33,20430.00000,2019-09-30 06:36:31,2019-09-30 06:36:31
7,-9223372036854775443,c69f83bc-6909-4643-93ee-76a5ef6e3355,33,13.00000,2019-09-30 06:36:31,2019-09-30 06:36:31
8,-9223372036854775628,dd466b60-2dcf-46ad-bf40-c0c71b36794c,31,10460565.82350,2019-09-30 06:36:31,2019-09-30 06:36:31
9,-9223372036854775450,eced0299-faf7-41c1-9661-0a41a2c94b39,32,30.18260,2019-09-30 06:36:31,2019-09-30 06:36:31
10,-9223372036854775660,c60570f0-3c23-41e8-975e-61e69e1010ec,31,29572350.85780,2019-09-30 06:36:31,2019-09-30 06:36:31
11,-9223372036854775482,c60570f0-3c23-41e8-975e-61e69e1010ec,34,1058557.32480,2019-09-30 06:36:31,2019-09-30 06:36:31
12,-9223372036854775475,c60570f0-3c23-41e8-975e-61e69e1010ec,35,1.04000,2019-09-30 06:36:31,2019-09-30 06:36:31
13,-9223372036854775546,dd466b60-2dcf-46ad-bf40-c0c71b36794c,34,358491.16410,2019-09-30 06:36:31,2019-09-30 06:36:31
14,-9223372036854775411,eced0299-faf7-41c1-9661-0a41a2c94b39,33,8125.00000,2019-09-30 06:36:31,2019-09-30 06:36:31
15,-9223372036854775530,57c533b9-e11c-4127-a911-d6d0e16c9aa1,34,19844.62710,2019-09-30 06:36:31,2019-09-30 06:36:31
16,-9223372036854775395,57c533b9-e11c-4127-a911-d6d0e16c9aa1,35,0.97130,2019-09-30 06:36:31,2019-09-30 06:36:31
17,-9223372036854775644,92f11563-03b2-4a5d-a463-e205662e971c,31,608107.58500,2019-09-30 06:36:31,2019-09-30 06:36:31
18,-9223372036854775466,c69f83bc-6909-4643-93ee-76a5ef6e3355,34,47.69000,2019-09-30 06:36:31,2019-09-30 06:36:31
19,-9223372036854775459,eced0299-faf7-41c1-9661-0a41a2c94b39,35,0.98310,2019-09-30 06:36:31,2019-09-30 06:36:31
20,-9223372036854775427,c60570f0-3c23-41e8-975e-61e69e1010ec,33,1017827.00000,2019-09-30 06:36:31,2019-09-30 06:36:31
21,-9223372036854775434,c69f83bc-6909-4643-93ee-76a5ef6e3355,32,67.80380,2019-09-30 06:36:31,2019-09-30 06:36:31
22,-9223372036854775363,dd466b60-2dcf-46ad-bf40-c0c71b36794c,33,330303.00000,2019-09-30 06:36:31,2019-09-30 06:36:31
23,-9223372036854775676,dd668e71-d004-4d1c-ae11-23a4354ba1ab,31,307014.20500,2019-09-30 06:36:31,2019-09-30 06:36:31
24,-9223372036854775498,eced0299-faf7-41c1-9661-0a41a2c94b39,34,7987.74320,2019-09-30 06:36:31,2019-09-30 06:36:31
25,-9223372036854775620,4553b5a9-9770-4bd5-b95d-10368b72d166,31,1579088.35000,2019-09-30 06:36:31,2019-09-30 06:36:31
26,-9223372036854775506,4553b5a9-9770-4bd5-b95d-10368b72d166,34,51546.13810,2019-09-30 06:36:31,2019-09-30 06:36:31
27,-9223372036854775371,4553b5a9-9770-4bd5-b95d-10368b72d166,35,0.96950,2019-09-30 06:36:31,2019-09-30 06:36:31
28,-9223372036854775442,dd668e71-d004-4d1c-ae11-23a4354ba1ab,32,28.39830,2019-09-30 06:36:31,2019-09-30 06:36:31
29,-9223372036854775435,dd668e71-d004-4d1c-ae11-23a4354ba1ab,33,10811.00000,2019-09-30 06:36:31,2019-09-30 06:36:31
30,-9223372036854775490,92f11563-03b2-4a5d-a463-e205662e971c,32,29.76540,2019-09-30 06:36:31,2019-09-30 06:36:31
31,-9223372036854775419,92f11563-03b2-4a5d-a463-e205662e971c,35,0.97130,2019-09-30 06:36:31,2019-09-30 06:36:31
32,-9223372036854775426,c60570f0-3c23-41e8-975e-61e69e1010ec,32,29.05430,2019-09-30 06:36:31,2019-09-30 06:36:31
33,-9223372036854775668,c69f83bc-6909-4643-93ee-76a5ef6e3355,31,881.45000,2019-09-30 06:36:31,2019-09-30 06:36:31
34,-9223372036854775483,dd668e71-d004-4d1c-ae11-23a4354ba1ab,35,0.93780,2019-09-30 06:36:31,2019-09-30 06:36:31
35,-9223372036854775636,57c533b9-e11c-4127-a911-d6d0e16c9aa1,31,608107.58500,2019-09-30 06:36:31,2019-09-30 06:36:31
36,-9223372036854775451,92f11563-03b2-4a5d-a463-e205662e971c,33,20430.00000,2019-09-30 06:36:31,2019-09-30 06:36:31
37,-9223372036854775458,92f11563-03b2-4a5d-a463-e205662e971c,34,19844.62710,2019-09-30 06:36:31,2019-09-30 06:36:31
38,-9223372036854775522,dd466b60-2dcf-46ad-bf40-c0c71b36794c,32,31.66960,2019-09-30 06:36:31,2019-09-30 06:36:31
39,-9223372036854775387,dd466b60-2dcf-46ad-bf40-c0c71b36794c,35,1.08530,2019-09-30 06:36:31,2019-09-30 06:36:31

In [14]:
sql_db1 = '''Select * from content_consumed_searches_trend where year=2019;'''
sql_db2 = '''Select * from segment_customers;'''
df_a = pd.read_sql_query(sql_db1, con=conn1)
df_b = pd.read_sql_query(sql_db2, con=conn1)
df_x = df_a.merge(df_b, left_on='user_id', right_on='customer_id')

DatabaseError: Execution failed on sql: Select * from content_consumed_searches_trend where date_index='20190101';
SSL SYSCALL error: EOF detected

unable to rollback

In [13]:
df_x

Empty DataFrame
Columns: [id_x, user_id, y, m, w, dw, date_index, total_thread_view, total_searches, created_time, modified_time, id_y, segment_id, customer_id]
Index: []

In [171]:
user_data_dictionary = {}
for index, row in mdf.iterrows():
    user_id, channel, foot = row['user_id'], row['channel'], row['number_of_footsteps']
    prev = user_data_dictionary.get(user_id, {})
    prev[channel] = foot
    user_data_dictionary[user_id] = prev

SyntaxError: invalid syntax (<ipython-input-171-7195cb8985a6>, line 4)

In [10]:
user_data_dictionary['-9223372035815002130']

{'Mobile': 1}

In [186]:
import json

In [189]:
json.dumps(user_data_dictionary)

'{"c60570f0-3c23-41e8-975e-61e69e1010ec": {"value_threads_viewed": [6, 3, 1]}, "dd466b60-2dcf-46ad-bf40-c0c71b36794c": {"value_threads_viewed": [6, 6, 6]}, "4553b5a9-9770-4bd5-b95d-10368b72d166": {"value_threads_viewed": [3, 3, 3]}, "92f11563-03b2-4a5d-a463-e205662e971c": {"value_threads_viewed": [1, 0, 0]}, "57c533b9-e11c-4127-a911-d6d0e16c9aa1": {"value_threads_viewed": [0, 0, 0]}, "eced0299-faf7-41c1-9661-0a41a2c94b39": {"value_threads_viewed": [1, 1, 1]}, "dd668e71-d004-4d1c-ae11-23a4354ba1ab": {"value_threads_viewed": [5, 5, 5]}, "c69f83bc-6909-4643-93ee-76a5ef6e3355": {"value_threads_viewed": [1, 1, 1]}}'

In [191]:
dfN

{'c60570f0-3c23-41e8-975e-61e69e1010ec': {'value_threads_viewed': (6, 3, 1)},
 'dd466b60-2dcf-46ad-bf40-c0c71b36794c': {'value_threads_viewed': (6, 6, 6)},
 '4553b5a9-9770-4bd5-b95d-10368b72d166': {'value_threads_viewed': (3, 3, 3)},
 '92f11563-03b2-4a5d-a463-e205662e971c': {'value_threads_viewed': (1, 0, 0)},
 '57c533b9-e11c-4127-a911-d6d0e16c9aa1': {'value_threads_viewed': (0, 0, 0)},
 'eced0299-faf7-41c1-9661-0a41a2c94b39': {'value_threads_viewed': (1, 1, 1)},
 'dd668e71-d004-4d1c-ae11-23a4354ba1ab': {'value_threads_viewed': (5, 5, 5)},
 'c69f83bc-6909-4643-93ee-76a5ef6e3355': {'value_threads_viewed': (1, 1, 1)}}

In [55]:
user_df = pd.read_sql_query('select id from segment', con=conn2)
value_df = pd.read_sql_query('select * from segment_attribute_time_value where segment_attribute_id in (1,2,3,4,5,6,9) and attribute_granularity_id = 1;', con=conn2)
attr_df = pd.read_sql_query('select id, name from segment_attribute where id in (1,2,3,4,5,6,9);', con=conn2)

final_df = pd.merge(attr_df, value_df, how='left', left_on='id', right_on='segment_attribute_id')
final_df = pd.pivot_table(final_df, columns=['name'], index=['segment_id', 'date_index', 'year', 'month', 'week','weekday'], values=['value'], aggfunc=max).reset_index()
final_df.columns =['_'.join(col).rstrip('_') for col in final_df.columns.values]
df_final= final_df.rename(columns={'year':'y', 'month':'m', 'week':'w', 'weekday':'dw','value_sum_net_transaction_amount':'total_transaction_amount','value_avg_net_transaction_amount':'avg_transaction_amount','value_transactions_frequency':'transactions_frequency','value_sum_net_total_commission':'total_commission','value_avg_net_total_commission':'avg_total_commission','value_average_total_transaction_amount_per_customer':'average_total_transaction_amount_per_customer','value_average_total_commission_per_customer':'average_total_commission_per_customer'})

In [56]:
df_final.columns

Index(['segment_id', 'date_index', 'y', 'm', 'w', 'dw',
       'average_total_commission_per_customer',
       'average_total_transaction_amount_per_customer', 'avg_total_commission',
       'avg_transaction_amount', 'total_commission',
       'total_transaction_amount', 'transactions_frequency'],
      dtype='object')

In [57]:
df1=pd.merge(df_final, user_df, how='left', left_on='segment_id', right_on='id')
df1 = df1[['date_index', 'y', 'm', 'w', 'dw', 'segment_id','total_transaction_amount', 'avg_transaction_amount', 'transactions_frequency', 'total_commission', 'avg_total_commission', 'average_total_transaction_amount_per_customer', 'average_total_commission_per_customer' ]]

In [58]:
df1.columns

Index(['date_index', 'y', 'm', 'w', 'dw', 'segment_id',
       'total_transaction_amount', 'avg_transaction_amount',
       'transactions_frequency', 'total_commission', 'avg_total_commission',
       'average_total_transaction_amount_per_customer',
       'average_total_commission_per_customer'],
      dtype='object')

In [ ]:
 ('avg_transaction_amount', 
  'avg_total_commission', 
  'average_total_transaction_amount_per_customer', 
  'average_total_commission_per_customer'

In [83]:
final_df = pd.merge(attr_df, value_df, how='left', left_on='id', right_on='segment_attribute_id')
final_df = pd.pivot_table(final_df, columns=['name'], index=['segment_id', 'date_index', 'year', 'month', 'week','weekday'], values=['value'], aggfunc=max).reset_index()
final_df.columns =['_'.join(col).rstrip('_') for col in final_df.columns.values]
df_final= final_df.rename(columns={'year':'y', 'month':'m', 'week':'w', 'weekday':'dw','value_content_consumed_threads_viewed':'total_thread_view','value_content_consumed_searches':'total_searches','value_average_thread_views_per_user':'average_thread_views_per_user','value_average_searches_per_user':'average_searches_per_user'})

In [84]:
df1=pd.merge(df_final, user_df, how='left', left_on='segment_id', right_on='id')
df1 = df1[['date_index', 'y', 'm', 'w', 'dw','segment_id','total_thread_view','total_searches','average_thread_views_per_user','average_searches_per_user' ]]
df1['average_thread_views_per_user'] = df1['average_thread_views_per_user'].astype(float)
df1['average_searches_per_user'] = df1['average_searches_per_user'].astype(float)
df1.sort_values(['segment_id', 'y', 'm', 'w', 'dw', 'date_index'], ascending = True, inplace = True)

KeyError: 'segment_id'

In [85]:
user_data_dictionary = {}
for index, row in mdf.iterrows():
    c = 'value_threads_viewed'
    segment_id, y, m, w, dw, date_index, hot_deal_views, fire_deal_views, front_page_views = row['segment_id'],row['y'], row['m'], row['w'], row['dw'], row['date_index'], row['hot_deal_views'], row['fire_deal_views'], row['front_page_views']
    prev = user_data_dictionary.get(segment_id, {})
    prev[c] = hot_deal_views, fire_deal_views, front_page_views
    user_data_dictionary[segment_id] = prev

Empty DataFrame
Columns: [i_n_d_e_x]
Index: []

In [89]:
final_df

Empty DataFrame
Columns: [i_n_d_e_x]
Index: []

In [ ]:
def relationize(f_name, row):
    key = 'value_num_of_engagements_per_device'
    expr = row[key]
    expr = json.loads(expr)
    return expr.get(f_name, "0")


columns = ['segment_id', 'date_index', 'year', 'month', 'week', 'weekday',
       'value_num_of_engagements_per_device', 'channel']
dfz = pd.DataFrame(columns=columns)
final_df.shape

# channels = ["Mobile", "Tablet", "Desktop"]
# for chan in channels:
# #     dfz["channel"] = dfz.apply(lambda x: chan)
#     dfz["value"] = dfz.apply(lambda x:  relationize(chan, x), axis=1)
    
    
# #     df_mobile = df_mobile.apply(lambda x:  relationize(chan, x[key]), axis=1)
# #     df_tablet = df_mobile.apply(lambda x:  relationize(chan, x[key]), axis=1)
# #     df_desktop = df_mobile.apply(lambda x:  relationize(chan, x[key]), axis=1)

# #     dfz["channel"] = dfz.apply(lambda x:  relationize("Mobile", x[key]), axis=1)



# dfz