In [80]:
import pandas as pd
import numpy as np
import psycopg2
import time
import datetime
import sys

print("Execution start")
# database credentials
database1 = "opsfeaturizer"
database2 = "alchemy"
db_user = "slickdeal_dev_user"
db_password = "UfHK3bnMy78siAie"
db_host = "127.0.0.1"
db_port = "5439"

Execution start

In [81]:
conn1 = psycopg2.connect(
    dbname=database1,
    user=db_user,
    password=db_password,
    host=db_host,
    port=db_port
)

conn2 = psycopg2.connect(
    dbname=database2,
    user=db_user,
    password=db_password,
    host=db_host,
    port=db_port
)

In [105]:
user_df = pd.read_sql_query('select id from segment', con=conn2)
value_df = pd.read_sql_query('select * from segment_attribute_time_value where segment_attribute_id in (14,15,16,17) and attribute_granularity_id = 3;', con=conn2)
attr_df = pd.read_sql_query('select id, name from segment_attribute where id in (14,15,16,17);', con=conn2)

In [44]:
def relationize(f_name, row):
    key = 'value_num_of_engagements_per_device'
    expr = row[key]
    expr = json.loads(expr)
    return expr.get(f_name, "0")


columns = ['segment_id', 'date_index', 'year', 'month', 'week', 'weekday',
       'value_num_of_engagements_per_device', 'channel']
dfz = pd.DataFrame(columns=columns)
final_df.shape

# channels = ["Mobile", "Tablet", "Desktop"]
# for chan in channels:
# #     dfz["channel"] = dfz.apply(lambda x: chan)
#     dfz["value"] = dfz.apply(lambda x:  relationize(chan, x), axis=1)
    
    
# #     df_mobile = df_mobile.apply(lambda x:  relationize(chan, x[key]), axis=1)
# #     df_tablet = df_mobile.apply(lambda x:  relationize(chan, x[key]), axis=1)
# #     df_desktop = df_mobile.apply(lambda x:  relationize(chan, x[key]), axis=1)

# #     dfz["channel"] = dfz.apply(lambda x:  relationize("Mobile", x[key]), axis=1)



# dfz

(7353, 7)

In [4]:
df10 = pd.read_sql("select * from content_consumed_by_channel where date_index='20190119' limit 500;", con=conn1)

In [5]:
mdf = df10

In [6]:
mdf

,id,user_id,y,m,w,dw,date_index,channel,number_of_footsteps,created_time,modified_time
0,-9223372036153067412,-9223372035814999697,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
1,-9223372036701662370,-9223372035814999698,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
2,-9223372035819267661,-9223372035814999714,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
3,-9223372036222441556,-9223372035814999715,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
4,-9223372036381168603,-9223372035814999745,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
5,-9223372036266772969,-9223372035814999747,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
6,-9223372036344590747,-9223372035814999752,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
7,-9223372036680185826,-9223372035814999755,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
8,-9223372036134797787,-9223372035814999775,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
9,-9223372035752713968,-9223372035814999787,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
10,-9223372036152517730,-9223372035814999791,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
11,-9223372035759614399,-9223372035814999822,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
12,-9223372036710643995,-9223372035814999829,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
13,-9223372036622881414,-9223372035814999842,2019,1,3,6,20190119,Desktop,8,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
14,-9223372036481034573,-9223372035814999854,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
15,-9223372036749780486,-9223372035814999918,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
16,-9223372036773027227,-9223372035814999926,2019,1,3,6,20190119,Desktop,3,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
17,-9223372035966249897,-9223372035814999940,2019,1,3,6,20190119,Mobile,4,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
18,-9223372036181737158,-9223372035814999975,2019,1,3,6,20190119,Mobile,2,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
19,-9223372036644430669,-9223372035814999979,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
20,-9223372036633078562,-9223372035814999980,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
21,-9223372036611010523,-9223372035814999988,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
22,-9223372036300899334,-9223372035815000000,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
23,-9223372036244283867,-9223372035815000013,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
24,-9223372035706028038,-9223372035815000041,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
25,-9223372036039556336,-9223372035815000048,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
26,-9223372035730312326,-9223372035815000062,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
27,-9223372036768761165,-9223372035815000071,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
28,-9223372036450855807,-9223372035815000081,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
29,-9223372036033201705,-9223372035815000087,2019,1,3,6,20190119,Mobile,5,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
...,...,...,...,...,...,...,...,...,...,...,...
470,-9223372035701545136,-9223372035815006052,2019,1,3,6,20190119,Desktop,6,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
471,-9223372036054173261,-9223372035815006058,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
472,-9223372036668360525,-9223372035815006069,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
473,-9223372036391695885,-9223372035815006070,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
474,-9223372036118656269,-9223372035815006082,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
475,-9223372036339347760,-9223372035815006089,2019,1,3,6,20190119,Desktop,4,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
476,-9223372036520450907,-9223372035815006109,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
477,-9223372036786444066,-9223372035815006138,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
478,-9223372036196576816,-9223372035815006139,2019,1,3,6,20190119,Tablet,3,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
479,-9223372036703532386,-9223372035815006150,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
480,-9223372036233444969,-9223372035815006182,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
481,-9223372035694521378,-9223372035815006210,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
482,-9223372036753979782,-9223372035815006212,2019,1,3,6,20190119,Desktop,2,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
483,-9223372036667474729,-9223372035815006238,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
484,-9223372035740902512,-9223372035815006258,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
485,-9223372036840889428,-9223372035815006267,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
486,-9223372035903731099,-9223372035815006274,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
487,-9223372036289079721,-9223372035815006278,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
488,-9223372035891028713,-9223372035815006310,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
489,-9223372036154790825,-9223372035815006320,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
490,-9223372035884965076,-9223372035815006322,2019,1,3,6,20190119,Mobile,3,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
491,-9223372036196266601,-9223372035815006373,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
492,-9223372036607633172,-9223372035815006389,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
493,-9223372036843464013,-9223372035815006391,2019,1,3,6,20190119,Mobile,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
494,-9223372036800690160,-9223372035815006415,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
495,-9223372036278884251,-9223372035815006416,2019,1,3,6,20190119,Desktop,3,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
496,-9223372035806179853,-9223372035815006426,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
497,-9223372036345165936,-9223372035815006440,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
498,-9223372036571063686,-9223372035815006446,2019,1,3,6,20190119,Desktop,9,2019-09-25 06:47:00.343632,2019-09-25 06:47:00
499,-9223372036145149119,-9223372035815006462,2019,1,3,6,20190119,Desktop,1,2019-09-25 06:47:00.343632,2019-09-25 06:47:00

In [7]:
user_data_dictionary = {}
for index, row in mdf.iterrows():
    user_id, channel, foot = row['user_id'], row['channel'], row['number_of_footsteps']
    prev = user_data_dictionary.get(user_id, {})
    prev[channel] = foot
    user_data_dictionary[user_id] = prev

In [13]:
dfN = user_data_dictionary

In [10]:
user_data_dictionary['-9223372035815002130']

{'Mobile': 1}

In [11]:
import json

In [12]:
json.dumps(user_data_dictionary['-9223372035815002130'])

'{"Mobile": 1}'

In [55]:
user_df = pd.read_sql_query('select id from segment', con=conn2)
value_df = pd.read_sql_query('select * from segment_attribute_time_value where segment_attribute_id in (1,2,3,4,5,6,9) and attribute_granularity_id = 1;', con=conn2)
attr_df = pd.read_sql_query('select id, name from segment_attribute where id in (1,2,3,4,5,6,9);', con=conn2)

final_df = pd.merge(attr_df, value_df, how='left', left_on='id', right_on='segment_attribute_id')
final_df = pd.pivot_table(final_df, columns=['name'], index=['segment_id', 'date_index', 'year', 'month', 'week','weekday'], values=['value'], aggfunc=max).reset_index()
final_df.columns =['_'.join(col).rstrip('_') for col in final_df.columns.values]
df_final= final_df.rename(columns={'year':'y', 'month':'m', 'week':'w', 'weekday':'dw','value_sum_net_transaction_amount':'total_transaction_amount','value_avg_net_transaction_amount':'avg_transaction_amount','value_transactions_frequency':'transactions_frequency','value_sum_net_total_commission':'total_commission','value_avg_net_total_commission':'avg_total_commission','value_average_total_transaction_amount_per_customer':'average_total_transaction_amount_per_customer','value_average_total_commission_per_customer':'average_total_commission_per_customer'})

In [56]:
df_final.columns

Index(['segment_id', 'date_index', 'y', 'm', 'w', 'dw',
       'average_total_commission_per_customer',
       'average_total_transaction_amount_per_customer', 'avg_total_commission',
       'avg_transaction_amount', 'total_commission',
       'total_transaction_amount', 'transactions_frequency'],
      dtype='object')

In [57]:
df1=pd.merge(df_final, user_df, how='left', left_on='segment_id', right_on='id')
df1 = df1[['date_index', 'y', 'm', 'w', 'dw', 'segment_id','total_transaction_amount', 'avg_transaction_amount', 'transactions_frequency', 'total_commission', 'avg_total_commission', 'average_total_transaction_amount_per_customer', 'average_total_commission_per_customer' ]]

In [58]:
df1.columns

Index(['date_index', 'y', 'm', 'w', 'dw', 'segment_id',
       'total_transaction_amount', 'avg_transaction_amount',
       'transactions_frequency', 'total_commission', 'avg_total_commission',
       'average_total_transaction_amount_per_customer',
       'average_total_commission_per_customer'],
      dtype='object')

In [ ]:
 ('avg_transaction_amount', 
  'avg_total_commission', 
  'average_total_transaction_amount_per_customer', 
  'average_total_commission_per_customer'

In [83]:
final_df = pd.merge(attr_df, value_df, how='left', left_on='id', right_on='segment_attribute_id')
final_df = pd.pivot_table(final_df, columns=['name'], index=['segment_id', 'date_index', 'year', 'month', 'week','weekday'], values=['value'], aggfunc=max).reset_index()
final_df.columns =['_'.join(col).rstrip('_') for col in final_df.columns.values]
df_final= final_df.rename(columns={'year':'y', 'month':'m', 'week':'w', 'weekday':'dw','value_content_consumed_threads_viewed':'total_thread_view','value_content_consumed_searches':'total_searches','value_average_thread_views_per_user':'average_thread_views_per_user','value_average_searches_per_user':'average_searches_per_user'})

In [84]:
df1=pd.merge(df_final, user_df, how='left', left_on='segment_id', right_on='id')
df1 = df1[['date_index', 'y', 'm', 'w', 'dw','segment_id','total_thread_view','total_searches','average_thread_views_per_user','average_searches_per_user' ]]
df1['average_thread_views_per_user'] = df1['average_thread_views_per_user'].astype(float)
df1['average_searches_per_user'] = df1['average_searches_per_user'].astype(float)
df1.sort_values(['segment_id', 'y', 'm', 'w', 'dw', 'date_index'], ascending = True, inplace = True)

KeyError: 'segment_id'

In [85]:
df_final

Empty DataFrame
Columns: [i_n_d_e_x]
Index: []

In [89]:
final_df

Empty DataFrame
Columns: [i_n_d_e_x]
Index: []